In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-01-30 19:55:33,3.0707,172.7902,80.94,77,100,16.35
1,1,Cape Town,ZA,2021-01-30 19:55:33,-33.9258,18.4232,72.00,68,20,9.22
2,2,Cap Malheureux,MU,2021-01-30 19:55:33,-19.9842,57.6142,79.00,82,0,3.00
3,3,Rikitea,PF,2021-01-30 19:55:33,-23.1203,-134.9692,78.87,76,3,12.93
4,4,Wagga Wagga,AU,2021-01-30 19:55:33,-35.1167,147.3667,60.80,88,0,3.44

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
##locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
##temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
##fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
##heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
##fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
##fig

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-01-30 19:55:33,3.0707,172.7902,80.94,77,100,16.35
2,2,Cap Malheureux,MU,2021-01-30 19:55:33,-19.9842,57.6142,79.00,82,0,3.00
3,3,Rikitea,PF,2021-01-30 19:55:33,-23.1203,-134.9692,78.87,76,3,12.93
5,5,Caravelas,BR,2021-01-30 19:55:33,-17.7125,-39.2481,81.12,68,0,8.70
6,6,Mayumba,GA,2021-01-30 19:55:33,-3.4320,10.6554,78.82,86,100,3.51
10,10,Mahebourg,MU,2021-01-30 19:53:41,-20.4081,57.7000,78.80,89,20,5.75
12,12,Sibolga,ID,2021-01-30 19:55:34,1.7427,98.7792,75.94,82,100,3.13
14,14,Mount Isa,AU,2021-01-30 19:55:34,-20.7333,139.5000,87.80,35,41,8.05
17,17,Mabaruma,GY,2021-01-30 19:55:34,8.2000,-59.7833,76.35,94,100,5.03
24,24,Avarua,CK,2021-01-30 19:55:35,-21.2078,-159.7750,84.20,70,100,3.44

In [18]:
preferred_cities_df.count()

City_ID       153
City          153
Country       152
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Butaritari      KI     80.94   3.0707  172.7902
2   Cap Malheureux      MU     79.00 -19.9842   57.6142
3          Rikitea      PF     78.87 -23.1203 -134.9692
5        Caravelas      BR     81.12 -17.7125  -39.2481
6          Mayumba      GA     78.82  -3.4320   10.6554
10       Mahebourg      MU     78.80 -20.4081   57.7000
12         Sibolga      ID     75.94   1.7427   98.7792
14       Mount Isa      AU     87.80 -20.7333  139.5000
17        Mabaruma      GY     76.35   8.2000  -59.7833
24          Avarua      CK     84.20 -21.2078 -159.7750

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,80.94,3.0707,172.7902,Isles Sunset Lodge
2,Cap Malheureux,MU,79.00,-19.9842,57.6142,Pereybere Hotel & Spa
3,Rikitea,PF,78.87,-23.1203,-134.9692,Pension Maro'i
5,Caravelas,BR,81.12,-17.7125,-39.2481,Pousada dos Navegantes
6,Mayumba,GA,78.82,-3.4320,10.6554,LIKWALE LODGE
10,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
12,Sibolga,ID,75.94,1.7427,98.7792,Hotel Syariah CN Darussalam
14,Mount Isa,AU,87.80,-20.7333,139.5000,ibis Styles Mt Isa Verona
17,Mabaruma,GY,76.35,8.2000,-59.7833,
24,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))